.category-popup {
    min-width: 500px;
    min-height: 400px;
    margin: 25px;
}

.category-popup hr {
    margin: 35px;
    border: 1px solid #e0e0e0;
}

.mt-2 {
    margin-top: 10px;
}

.category-selector {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.category-row {
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.category-row .category {
    margin: 10px;
}

.category-button {
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}