.signup{
    height: 100%;
}

.signup-container {
    background-color: #3949B5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.signup-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    background: white;
    height: 100%;
}

.signup-right-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    height: 100%;
}

.signup-background {
    width: 100%;
    height: 100%;
}
.titre-creer-compte {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

form.signup-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 80%;
}

.hidden-div {
    margin-top: -15px;
}