
.category-create-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.category-create-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
}  

.category-create-form-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    padding-top: 100px;
}

.category-create-form-preview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding-top: 120px;
}

.category-create-form-background {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

form.create-category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.category-create-form-button-field {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.category-create-form-button-submit {
    display: flex;
    width: 80%;
    justify-content: space-between;
}